<div class="footer p-5">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <img class="logo" src="./assets/logo.png" alt="" srcset="">
      </div>
      <div class="col-lg">
        <h2>QUICK LINKS</h2>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-lg">
        <h2>SHOP</h2>
        <ul>
          <li>Hair Care</li>
          <li>Face Care</li>
          <li>Body Care</li>
          <li>Porta ac consectetur ac</li>
          <li>Eye Care</li>
        </ul>
      </div>
      <div class="col-lg">
        <h2>CONTACT INFORMATION</h2>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>