<div class="footer">
  <div class="container">
    <div class="row p-2 p-lg-5">
      <div class="col-lg">
        <img class="logo" src="./assets/logo.png" alt="" srcset="">
      </div>
      <div class="col-lg">
        <h2>QUICK LINKS</h2>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
      <div class="col-lg">
        <h2>SHOP</h2>
        <ul>
          <li>Hair Care</li>
          <li>Face Care</li>
          <li>Body Care</li>
          <li>Porta ac consectetur ac</li>
          <li>Eye Care</li>
        </ul>
      </div>
      <div class="col-lg">
        <h2>CONTACT INFORMATION</h2>
        <ul>
          <li>Cras justo odio</li>
          <li>Dapibus ac facilisis in</li>
          <li>Morbi leo risus</li>
          <li>Porta ac consectetur ac</li>
          <li>Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="d-flex d-none d-lg-block justify-content-center container">
      <div class="divHor"></div>
    </div>
    <div class="row">
      <div class="col-lg">
        <p>© 2022 All rights reserved</p>
      </div>
      <div class="col-lg">
        <ul class="d-flex justify-content-end">
          <li><i class="fab fa-facebook-f"></i></li>
          <li><i class="fab fa-twitter"></i></li>
          <li><i class="fab fa-instagram"></i></li>
          <li><i class="fab fa-linkedin-in"></i></li>
        </ul>
      </div>
    </div>
  </div>
  <button *ngIf="isButtonVisible" class="scroll-to-top py-1 px-2" (click)="scrollToTop()">
    <span class="main-go-top__icon d-block">
      <img src="./assets/up.svg" alt="Top" />
    </span>
    <span class="main-go-top__text d-block opacity-100">TOP</span>
  </button>
  
</div>
