.test {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 997;
  animation: slideDown 0.3s ease-in-out forwards;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-25%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
  }
}
.wrapper,
.navbar,
.navbar-nav,
.nav-link,
.ffcanvas-body {
  color: #FFFFFF !important;
  background-color: #EB1414 !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.offcanvas {
  background-color: #FFFFFF !important;
  color: #000000;
}
@media (max-width: 576px) {
  .offcanvas {
    width: 100%;
  }
}
.d-flex {
  display: flex;
  align-items: center; /* Vertically center the content */
}

.icon {
  display: flex;
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  padding: 0; /* Adjust if needed */
}

.icon img {
  max-height: 100%; /* Ensure the image doesn't overflow the container */
  max-width: 100%; /* Ensure the image doesn't overflow the container */
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.btn-close:focus {
  outline: none;
  box-shadow: none;
}
.marquee-text {
  box-sizing: border-box;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  background: #8C0000;
}
.marquee-text .top-info-bar {
  font-size: 12px;
  width: 200%;
  display: flex;
  -webkit-animation: marquee 25s linear infinite running;
  -moz-animation: marquee 25s linear infinite running;
  -o-animation: marquee 25s linear infinite running;
  -ms-animation: marquee 25s linear infinite running;
  animation: marquee 25s linear infinite running;
}

.marquee-text .top-info-bar:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}

.marquee-text .top-info-bar .info-text {
  padding: 10px 30px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.marquee-text .top-info-bar a {
  color: #FFFFFF;
  text-decoration: none;
}

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
.hide{
  display: none;
}
